In [1]:
##A cloth manufacturing company is interested to know about the segment or attributes causes high sale. 
###Approach - A Random Forest can be built with target variable Sales (we will first convert it in categorical variable) & all other variable will be independent in the analysis.

In [46]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
import warnings
warnings.filterwarnings("ignore")

In [47]:
df=pd.read_csv("C:/Users/Vijay Rathod/Downloads/Company_Data (1).csv")
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [48]:
df.info()   ### There is null values in our data set

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(1), int64(7), object(3)
memory usage: 34.5+ KB

In [49]:
#Changing the categorical variables into dummies.
company = pd.get_dummies(df)
company

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,9.50,138,73,11,276,120,42,17,1,0,0,0,1,0,1
1,11.22,111,48,16,260,83,65,10,0,1,0,0,1,0,1
2,10.06,113,35,10,269,80,59,12,0,0,1,0,1,0,1
3,7.40,117,100,4,466,97,55,14,0,0,1,0,1,0,1
4,4.15,141,64,3,340,128,38,13,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,33,14,0,1,0,0,1,0,1
396,6.14,139,23,3,37,120,55,11,0,0,1,1,0,0,1
397,7.41,162,26,12,368,159,40,18,0,0,1,0,1,0,1
398,5.94,100,79,7,284,95,50,12,1,0,0,0,1,0,1
399,9.71,134,37,0,27,120,49,16,0,1,0,0,1,0,1

In [78]:
#Converting the Target variable i.e. Sales into Categorical
company['Category'] = pd.cut(company['Sales'], 
                        bins=[0,10, np.inf], 
                        labels=['Low/Mid','High'],
                        include_lowest=True)
company

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes,Category
0,9.50,138,73,11,276,120,42,17,1,0,0,0,1,0,1,Low/Mid
1,11.22,111,48,16,260,83,65,10,0,1,0,0,1,0,1,High
2,10.06,113,35,10,269,80,59,12,0,0,1,0,1,0,1,High
3,7.40,117,100,4,466,97,55,14,0,0,1,0,1,0,1,Low/Mid
4,4.15,141,64,3,340,128,38,13,1,0,0,0,1,1,0,Low/Mid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,33,14,0,1,0,0,1,0,1,High
396,6.14,139,23,3,37,120,55,11,0,0,1,1,0,0,1,Low/Mid
397,7.41,162,26,12,368,159,40,18,0,0,1,0,1,0,1,Low/Mid
398,5.94,100,79,7,284,95,50,12,1,0,0,0,1,0,1,Low/Mid
399,9.71,134,37,0,27,120,49,16,0,1,0,0,1,0,1,Low/Mid

In [51]:
### Random Forest Classification

In [52]:
array=company.values

In [53]:
X = array[:,1:15]
Y = array[:,15]

In [54]:
kfold=KFold(n_splits=10,shuffle=True)
model=RandomForestClassifier(n_estimators=100,max_features=4)
result=cross_val_score(model,X,Y,cv=kfold)
print(result.mean()*100.0)

87.25

In [55]:
### Incressing CV scores by using Ensemble Techniques

In [56]:
### Bagging

In [57]:
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
cart=DecisionTreeClassifier()
model=BaggingClassifier(base_estimator=cart,n_estimators=100,random_state=7)
result=cross_val_score(model,X,Y,cv=kfold)
print(result.mean()*100)

84.74999999999999

In [58]:
#### Bossting

In [59]:
from sklearn.ensemble import AdaBoostClassifier
model=AdaBoostClassifier(n_estimators=10,random_state=7)
result=cross_val_score(model,X,Y,cv=kfold)
print(result.mean()*100.0)

87.25

In [60]:
###Stacking

In [61]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import VotingClassifier

In [77]:
## iteration 1
# create the sub models

estimators = []
model3 = LogisticRegression(max_iter=500)
estimators.append(('logistic', model3))
model4 = DecisionTreeClassifier()
estimators.append(('cart', model4))
model5 = SVC()
estimators.append(('svm', model5))
model6 = BaggingClassifier(base_estimator=cart, n_estimators=100, random_state=7)
estimators.append(('bagging', model6))
model7 = AdaBoostClassifier(n_estimators=10, random_state=7)
estimators.append(('boosting', model7))

# create the ensemble modelIter

ensemble = VotingClassifier(estimators)
results3 = cross_val_score(ensemble, X, Y, cv=kfold)
print(results3.mean()*100)

88.25

In [76]:
##iteration 2
# create the sub models

estimators = []
model8 = LogisticRegression(max_iter=500)
estimators.append(('logistic', model8))
model9 = DecisionTreeClassifier()
estimators.append(('cart', model9))
model10 = BaggingClassifier(base_estimator=cart, n_estimators=150, random_state=6)
estimators.append(('bagging', model10))
model11 = AdaBoostClassifier(n_estimators=10, random_state=6)
estimators.append(('boosting', model11))

# create the ensemble model

ensemble = VotingClassifier(estimators)
results4 = cross_val_score(ensemble, X, Y, cv=kfold)
print(results4.mean()*100)

89.25

In [74]:
##iteration 3
# create the sub models

estimators = []
model12 = LogisticRegression(max_iter=500)
estimators.append(('logistic', model12))
model13 = DecisionTreeClassifier()
estimators.append(('cart', model13))
model14 = AdaBoostClassifier(n_estimators=10, random_state=8)
estimators.append(('boosting', model14))

# create the ensemble modSel

ensemble = VotingClassifier(estimators)
results5 = cross_val_score(ensemble, X, Y, cv=kfold)
print(results5.mean()*100)

90.24999999999999

In [75]:
###As we can see the Cross Validation Score is highest for 03rd iteration, we can consider the same model as our Final model.